/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.post-type-gift_rec_members .postbox {
	background-color: #fff;
	padding: 15px;
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .3);
}

.post-type-gift_rec_members #titlewrap {
	display: none;
}

.post-type-gift_rec_members h3 {
	font-size: 1.1rem;
}

.post-type-gift_rec_members .table-wrap {
	text-align: center;
}

.post-type-gift_rec_members .table-wrap table {
	margin: auto;
}

.post-type-gift_rec_members .table-wrap table th, .post-type-gift_rec_members .table-wrap table td {
	padding: 0 8px;
}